In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('gapminder.csv',
                low_memory=False)

In [16]:
print('There are ' + str(df.shape[0]) + ' rows and ' + str(df.shape[1]) + ' variables in the dataset')

There are 213 rows and 16 variables in the dataset

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 16 columns):
country                 213 non-null object
incomeperperson         213 non-null object
alcconsumption          213 non-null object
armedforcesrate         213 non-null object
breastcancerper100th    213 non-null object
co2emissions            213 non-null object
femaleemployrate        213 non-null object
hivrate                 213 non-null object
internetuserate         213 non-null object
lifeexpectancy          213 non-null object
oilperperson            213 non-null object
polityscore             213 non-null object
relectricperperson      213 non-null object
suicideper100th         213 non-null object
employrate              213 non-null object
urbanrate               213 non-null object
dtypes: object(16)
memory usage: 26.7+ KB

Convert 'internetuserate', 'polityscore', 'femaleemployrate', and 'employrate' to numeric variables

In [0]:
num_cols =  ['internetuserate', 'polityscore', 'femaleemployrate', 'employrate']
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 16 columns):
country                 213 non-null object
incomeperperson         213 non-null object
alcconsumption          213 non-null object
armedforcesrate         213 non-null object
breastcancerper100th    213 non-null object
co2emissions            213 non-null object
femaleemployrate        178 non-null float64
hivrate                 213 non-null object
internetuserate         192 non-null float64
lifeexpectancy          213 non-null object
oilperperson            213 non-null object
polityscore             161 non-null float64
relectricperperson      213 non-null object
suicideper100th         213 non-null object
employrate              178 non-null float64
urbanrate               213 non-null object
dtypes: float64(4), object(12)
memory usage: 26.7+ KB

In [20]:
print ('counts for internetuserate – Percentage of people with access to internet')
c1 = df['internetuserate'].value_counts(sort=False)
print (c1)
print ('')

counts for internetuserate – Percentage of people with access to internet
81.000000    1
66.000000    1
45.000000    1
65.000000    1
2.100213     1
80.000000    1
25.000000    1
5.001375     1
51.914184    1
42.984580    1
39.820178    1
9.999954     1
44.989947    1
2.300027     1
5.999836     1
71.849124    1
44.001025    1
7.232224     1
90.703555    1
1.259934     1
69.339971    1
35.850437    1
26.477223    1
2.199998     1
16.780037    1
40.122235    1
15.999650    1
70.028599    1
81.590397    1
11.999971    1
            ..
2.699966     1
12.006692    1
1.280050     1
74.247572    1
28.731883    1
81.338393    1
43.366498    1
6.497924     1
65.387786    1
12.500255    1
47.867469    1
12.349750    1
43.055067    1
40.650098    1
45.986590    1
54.992809    1
33.382128    1
65.808554    1
44.570074    1
7.499996     1
88.770254    1
1.700031     1
4.170136     1
56.300034    1
51.280478    1
36.000335    1
41.000128    1
33.616683    1
60.119707    1
1.699985     1
Name: internetuserate, Length: 192, dtype: int64

In [21]:
print ('percentages for internetuserate - Percentage of people with access to internet')
p1 = df['internetuserate'].value_counts(sort=False, normalize=True)
print (p1)
print ('')

percentages for internetuserate - Percentage of people with access to internet
81.000000    0.005208
66.000000    0.005208
45.000000    0.005208
65.000000    0.005208
2.100213     0.005208
80.000000    0.005208
25.000000    0.005208
5.001375     0.005208
51.914184    0.005208
42.984580    0.005208
39.820178    0.005208
9.999954     0.005208
44.989947    0.005208
2.300027     0.005208
5.999836     0.005208
71.849124    0.005208
44.001025    0.005208
7.232224     0.005208
90.703555    0.005208
1.259934     0.005208
69.339971    0.005208
35.850437    0.005208
26.477223    0.005208
2.199998     0.005208
16.780037    0.005208
40.122235    0.005208
15.999650    0.005208
70.028599    0.005208
81.590397    0.005208
11.999971    0.005208
               ...
2.699966     0.005208
12.006692    0.005208
1.280050     0.005208
74.247572    0.005208
28.731883    0.005208
81.338393    0.005208
43.366498    0.005208
6.497924     0.005208
65.387786    0.005208
12.500255    0.005208
47.867469    0.005208
12.349750    0.005208
43.055067    0.005208
40.650098    0.005208
45.986590    0.005208
54.992809    0.005208
33.382128    0.005208
65.808554    0.005208
44.570074    0.005208
7.499996     0.005208
88.770254    0.005208
1.700031     0.005208
4.170136     0.005208
56.300034    0.005208
51.280478    0.005208
36.000335    0.005208
41.000128    0.005208
33.616683    0.005208
60.119707    0.005208
1.699985     0.005208
Name: internetuserate, Length: 192, dtype: float64

In [22]:
print ('counts for polityscore - Democracy score')
c2 = df['polityscore'].value_counts(sort=False)
print (c2)
print ('')

counts for polityscore - Democracy score
 0.0      6
 9.0     15
 2.0      3
-2.0      5
 8.0     19
 5.0      7
 10.0    33
-7.0     12
 7.0     13
 3.0      2
 6.0     10
-4.0      6
-1.0      4
-3.0      6
-5.0      2
 1.0      3
-6.0      3
-9.0      4
 4.0      4
-8.0      2
-10.0     2
Name: polityscore, dtype: int64

In [23]:
print ('percentages for polityscore - Democracy score')
p2 = df['polityscore'].value_counts(sort=False, normalize=True)
print (p2)
print ('')

percentages for polityscore - Democracy score
 0.0     0.037267
 9.0     0.093168
 2.0     0.018634
-2.0     0.031056
 8.0     0.118012
 5.0     0.043478
 10.0    0.204969
-7.0     0.074534
 7.0     0.080745
 3.0     0.012422
 6.0     0.062112
-4.0     0.037267
-1.0     0.024845
-3.0     0.037267
-5.0     0.012422
 1.0     0.018634
-6.0     0.018634
-9.0     0.024845
 4.0     0.024845
-8.0     0.012422
-10.0    0.012422
Name: polityscore, dtype: float64

In [24]:
print ('counts for femaleemployrate – Female employee age 15+ (% of population)')
c3 = df['femaleemployrate'].value_counts(sort=False)
print (c3)
print ('')

counts for femaleemployrate – Female employee age 15+ (% of population)
55.500000    1
49.000000    1
35.500000    1
40.500000    1
41.700001    2
45.500000    1
73.000000    1
48.500000    1
44.000000    1
51.000000    1
47.500000    1
13.000000    1
56.000000    2
48.000000    1
66.599998    1
38.099998    1
42.000000    1
57.500000    1
69.000000    1
66.500000    1
36.000000    1
30.100000    1
40.299999    1
58.200001    2
38.000000    1
36.500000    1
40.099998    1
19.000000    1
80.500000    1
57.000000    1
            ..
26.799999    1
73.400002    1
45.599998    1
38.700001    1
52.099998    1
11.300000    1
54.700001    1
36.299999    1
32.299999    1
43.700001    1
16.700001    1
21.900000    1
39.599998    3
53.799999    1
59.799999    1
53.900002    1
58.099998    2
48.400002    1
48.799999    2
67.599998    1
49.400002    2
30.200001    1
44.799999    1
63.400002    1
22.600000    1
47.599998    1
53.299999    1
49.700001    1
53.099998    1
56.900002    1
Name: femaleemployrate, Length: 153, dtype: int64

In [25]:
print ('percentages for femaleemployrate - Female employee age 15+ (% of population')
p3 = df['femaleemployrate'].value_counts(sort=False, normalize=True)
print (p3)
print ('')

percentages for femaleemployrate - Female employee age 15+ (% of population
55.500000    0.005618
49.000000    0.005618
35.500000    0.005618
40.500000    0.005618
41.700001    0.011236
45.500000    0.005618
73.000000    0.005618
48.500000    0.005618
44.000000    0.005618
51.000000    0.005618
47.500000    0.005618
13.000000    0.005618
56.000000    0.011236
48.000000    0.005618
66.599998    0.005618
38.099998    0.005618
42.000000    0.005618
57.500000    0.005618
69.000000    0.005618
66.500000    0.005618
36.000000    0.005618
30.100000    0.005618
40.299999    0.005618
58.200001    0.011236
38.000000    0.005618
36.500000    0.005618
40.099998    0.005618
19.000000    0.005618
80.500000    0.005618
57.000000    0.005618
               ...
26.799999    0.005618
73.400002    0.005618
45.599998    0.005618
38.700001    0.005618
52.099998    0.005618
11.300000    0.005618
54.700001    0.005618
36.299999    0.005618
32.299999    0.005618
43.700001    0.005618
16.700001    0.005618
21.900000    0.005618
39.599998    0.016854
53.799999    0.005618
59.799999    0.005618
53.900002    0.005618
58.099998    0.011236
48.400002    0.005618
48.799999    0.011236
67.599998    0.005618
49.400002    0.011236
30.200001    0.005618
44.799999    0.005618
63.400002    0.005618
22.600000    0.005618
47.599998    0.005618
53.299999    0.005618
49.700001    0.005618
53.099998    0.005618
56.900002    0.005618
Name: femaleemployrate, Length: 153, dtype: float64

In [26]:
print ('counts for employrate – Totalmployee age 15+ (% of population)')
c4 = df['employrate'].value_counts(sort=False)
print (c4)
print ('')

counts for employrate – Totalmployee age 15+ (% of population)
50.500000    1
61.500000    3
46.000000    2
64.500000    1
63.500000    1
51.000000    2
68.000000    1
56.000000    2
56.500000    1
59.000000    2
53.500000    3
81.500000    1
66.000000    2
83.000000    1
64.599998    1
64.199997    1
60.500000    1
42.500000    1
54.500000    2
77.000000    1
42.000000    1
65.000000    3
50.700001    1
61.700001    1
50.900002    2
61.000000    2
66.199997    1
57.900002    1
76.000000    1
49.500000    1
            ..
60.700001    1
63.700001    1
52.700001    1
78.900002    1
70.400002    2
71.699997    1
41.599998    1
80.699997    1
54.599998    1
48.700001    2
57.200001    1
66.800003    1
54.400002    1
63.099998    1
63.900002    1
55.099998    1
67.300003    1
44.799999    1
64.300003    1
47.099998    1
41.099998    1
44.299999    1
62.400002    1
51.299999    1
79.800003    1
58.599998    1
63.799999    2
63.200001    1
65.599998    1
68.300003    1
Name: employrate, Length: 139, dtype: int64

In [27]:
print ('percentages for employrate - Total mployee age 15+ (% of population')
p4 = df['employrate'].value_counts(sort=False, normalize=True)
print (p4)
print ('')

percentages for employrate - Total mployee age 15+ (% of population
50.500000    0.005618
61.500000    0.016854
46.000000    0.011236
64.500000    0.005618
63.500000    0.005618
51.000000    0.011236
68.000000    0.005618
56.000000    0.011236
56.500000    0.005618
59.000000    0.011236
53.500000    0.016854
81.500000    0.005618
66.000000    0.011236
83.000000    0.005618
64.599998    0.005618
64.199997    0.005618
60.500000    0.005618
42.500000    0.005618
54.500000    0.011236
77.000000    0.005618
42.000000    0.005618
65.000000    0.016854
50.700001    0.005618
61.700001    0.005618
50.900002    0.011236
61.000000    0.011236
66.199997    0.005618
57.900002    0.005618
76.000000    0.005618
49.500000    0.005618
               ...
60.700001    0.005618
63.700001    0.005618
52.700001    0.005618
78.900002    0.005618
70.400002    0.011236
71.699997    0.005618
41.599998    0.005618
80.699997    0.005618
54.599998    0.005618
48.700001    0.011236
57.200001    0.005618
66.800003    0.005618
54.400002    0.005618
63.099998    0.005618
63.900002    0.005618
55.099998    0.005618
67.300003    0.005618
44.799999    0.005618
64.300003    0.005618
47.099998    0.005618
41.099998    0.005618
44.299999    0.005618
62.400002    0.005618
51.299999    0.005618
79.800003    0.005618
58.599998    0.005618
63.799999    0.011236
63.200001    0.005618
65.599998    0.005618
68.300003    0.005618
Name: employrate, Length: 139, dtype: float64

In [0]:
'internetuserate', 'polityscore', 'femaleemployrate', 'employrate'

In [29]:
pt1 = df.groupby('internetuserate').size() * 100 / len(df)
print(pt1)
ct2= df.groupby('internetuserate').size()
print(ct2)

internetuserate
0.210066     0.469484
0.720009     0.469484
0.749996     0.469484
0.829997     0.469484
0.999959     0.469484
1.259934     0.469484
1.280050     0.469484
1.400061     0.469484
1.699985     0.469484
1.700031     0.469484
2.100213     0.469484
2.199998     0.469484
2.259976     0.469484
2.300027     0.469484
2.450362     0.469484
2.471948     0.469484
2.599974     0.469484
2.699966     0.469484
2.999803     0.469484
3.129962     0.469484
3.654122     0.469484
3.700003     0.469484
3.860565     0.469484
3.999977     0.469484
4.170136     0.469484
4.999875     0.469484
5.001375     0.469484
5.098265     0.469484
5.379820     0.469484
5.399667     0.469484
               ...
71.849124    0.469484
72.731576    0.469484
73.733934    0.469484
74.163040    0.469484
74.247572    0.469484
75.200000    0.469484
75.895654    0.469484
76.587538    0.469484
77.498619    0.469484
77.638535    0.469484
77.996781    0.469484
79.889777    0.469484
80.000000    0.469484
80.645455    0.469484
81.000000    0.469484
81.338393    0.469484
81.590397    0.469484
82.166660    0.469484
82.515928    0.469484
82.526898    0.469484
83.002584    0.469484
84.654514    0.469484
84.731705    0.469484
86.898845    0.469484
88.770254    0.469484
90.016190    0.469484
90.079527    0.469484
90.703555    0.469484
93.277508    0.469484
95.638113    0.469484
Length: 192, dtype: float64
internetuserate
0.210066     1
0.720009     1
0.749996     1
0.829997     1
0.999959     1
1.259934     1
1.280050     1
1.400061     1
1.699985     1
1.700031     1
2.100213     1
2.199998     1
2.259976     1
2.300027     1
2.450362     1
2.471948     1
2.599974     1
2.699966     1
2.999803     1
3.129962     1
3.654122     1
3.700003     1
3.860565     1
3.999977     1
4.170136     1
4.999875     1
5.001375     1
5.098265     1
5.379820     1
5.399667     1
            ..
71.849124    1
72.731576    1
73.733934    1
74.163040    1
74.247572    1
75.200000    1
75.895654    1
76.587538    1
77.498619    1
77.638535    1
77.996781    1
79.889777    1
80.000000    1
80.645455    1
81.000000    1
81.338393    1
81.590397    1
82.166660    1
82.515928    1
82.526898    1
83.002584    1
84.654514    1
84.731705    1
86.898845    1
88.770254    1
90.016190    1
90.079527    1
90.703555    1
93.277508    1
95.638113    1
Length: 192, dtype: int64

In [30]:
df[num_cols].describe()

       internetuserate  polityscore  femaleemployrate  employrate
count       192.000000   161.000000        178.000000  178.000000
mean         35.632716     3.689441         47.549438   58.635955
std          27.780285     6.314899         14.625743   10.519454
min           0.210066   -10.000000         11.300000   32.000000
25%           9.999604    -2.000000         38.725000   51.225000
50%          31.810121     6.000000         47.549999   58.699999
75%          56.416046     9.000000         55.875000   64.975000
max          95.638113    10.000000         83.300003   83.199997